@charset "UTF-8";
:root {
  font-size: 20pt;
  background-color: black;
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  width: 8.5in;
  height: 11in;
  background-color: white;
}

#everything {
  display: flex;
  flex-wrap: wrap;
}

h1, h2, h3, h4, h5, p, ol, ul, li, a, button, small, menu, address, q {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  max-width: 30em;
  line-height: 1.2em;
  text-wrap-style: balance;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Vollkorn", serif;
}

strong {
  font-weight: 600;
}

h1 {
  font-size: 45pt;
  margin-block-start: 0.7em;
  font-weight: 750;
  margin-block-end: 0.1em;
  color: #62204f;
}

h2 {
  font-size: 23.3pt;
  font-weight: 100;
}

h3 {
  font-weight: 100;
  font-size: 17pt;
  margin-block-end: 0.1em;
  margin-block-start: 0.3em;
}

q {
  text-align: center;
  display: block;
  font-size: 28.5pt;
  margin-block-end: 0.1em;
  font-family: "Vollkorn";
}
q::before {
  display: none;
}
q::after {
  display: none;
}

cite {
  display: block;
  text-align: right;
}

img, video, iframe, svg {
  display: block;
}

.flyer {
  padding: 0.25in;
  width: 8.5in;
  height: 11in;
  position: relative;
  box-sizing: border-box;
}
.flyer main {
  position: relative;
}
.flyer main p {
  margin: 0.6em 0;
  line-height: 1.4em;
}
.flyer footer {
  position: absolute;
  width: calc(100% - 0.5in);
  left: 0;
  bottom: 0.25in;
  background: white;
  padding: 0.125in 0.25in;
}
.flyer footer .address {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 12pt;
  margin-bottom: 0.5em;
  margin-bottom: 1em;
}
.flyer footer .address p {
  padding: 0 3em;
  border-right: 1pt solid black;
  line-height: 1.4em;
}
.flyer footer .address p:last-of-type {
  border: none;
}
.flyer footer > p {
  margin-block-end: 1em;
}
.flyer footer strong {
  text-decoration: underline;
  font-style: normal;
  font-weight: unset;
}
.flyer .footer-bottom {
  text-align: right;
  font-size: 8pt;
}

.sunday {
  width: 40%;
}

.table-div {
  display: flex;
}

table {
  font-size: 15.3pt;
  text-align: center;
  border-spacing: 4pt;
}
table td, table th {
  padding: calc(0.4rem - 2pt);
  border: black 1pt solid;
}
table td {
  vertical-align: baseline;
  background: #ffeefa;
}
table th {
  font-size: 1.4em;
  background: #f5d5ec;
  border-radius: 0.4em 0.4em 0 0;
  font-family: "Vollkorn", serif;
  height: 0;
}
table.sunday tr:last-of-type td:first-of-type {
  border-radius: 0 0 0.4em 0.4em;
}
table.sunday td {
  vertical-align: revert;
}
table.weekday tr:last-of-type td:first-of-type {
  border-radius: 0 0 0.4em 0;
}
table.weekday td[rowspan="3"] {
  border-radius: 0 0 0 0.4em;
}

@counter-style sun1 {
  symbols: "🙏" "📍";
  system: cyclic;
  suffix: " ";
}
.sun1 {
  list-style-type: sun1;
}

@counter-style sun2 {
  symbols: "🧒" "📍";
  system: cyclic;
  suffix: " ";
}
.sun2 {
  list-style-type: sun2;
}

@counter-style sun3 {
  symbols: "🙌" "📍";
  system: cyclic;
  suffix: " ";
}
.sun3 {
  list-style-type: sun3;
}

@counter-style tues {
  symbols: "👥" "📍";
  system: cyclic;
  suffix: " ";
}
.tues {
  list-style-type: tues;
}

@counter-style wed1 {
  symbols: "🧒" "📍";
  system: cyclic;
  suffix: " ";
}
.wed1 {
  list-style-type: wed1;
}

@counter-style wed2 {
  symbols: "📖" "📍";
  system: cyclic;
  suffix: " ";
}
.wed2 {
  list-style-type: wed2;
}

@counter-style thurs1 {
  symbols: "🧒" "📍";
  system: cyclic;
  suffix: " ";
}
.thurs1 {
  list-style-type: thurs1;
}

@counter-style thurs2 {
  symbols: "👑" "📍";
  system: cyclic;
  suffix: " ";
}
.thurs2 {
  list-style-type: thurs2;
}

@counter-style thurs3 {
  symbols: "🌸" "📍";
  system: cyclic;
  suffix: " ";
}
.thurs3 {
  list-style-type: thurs3;
}

ul {
  padding-inline-start: 1.3em;
}
ul li {
  text-align: left;
  padding-inline-start: 0.4em;
  margin-block-end: 0.5em;
  line-height: 1.25em;
  text-wrap-style: auto;
}
ul li:last-of-type {
  margin: 0;
}

.flyer {
  background: radial-gradient(125% 125% at -2% 101%, rgb(245, 87, 2) 10.5%, rgb(245, 120, 2) 16%, rgb(245, 140, 2) 17.5%, rgb(245, 170, 100) 25%, rgb(238, 174, 202) 40%, rgb(202, 179, 214) 65%, rgb(148, 201, 233) 100%);
}

/*# sourceMappingURL=style.css.map */
