// to compile: 
//      sass --watch sass:css
//      automatically compiles anything in "sass" folder to "css" folder as changes are made

//      sass <input.scss> [output.css]
//      compile input.scss to output.css once

//      sass sass:css
//      compiles anything in "sass" folder to "css" folder

@use "sass:math";
@use "fonts";

$translate500: translate(-50%, 0%);
$translate5050: translate(-50%, -50%);

@mixin centerFillWidth() {
    width: -webkit-fill-available;
    text-align: center;
}

:root{
    font-size: 19px;
}

body {
    font-family: fonts.$ysabeau;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    margin-top: 5em;
    margin-bottom: 5em;
}

#everything{
    width: 32em;
    max-width: 90%;
    margin: auto;
}

h1, h2, h3, h4, h5, p, ol, ul, li, a, button, small, menu {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
    margin-block-end: 0.8em;
}

h1{
    font-size: 2rem;
    margin-block-start: 2em;
}

h2{
    font-size: 1.2rem;
    margin-block-start: 2em;
    font-family: fonts.$ysabeau;
}

a{
    color: green;
    font-size: inherit;
}

a:hover{
    color:rgb(52, 153, 52);
    text-decoration: underline;
}

img, video, iframe{
    margin: auto;
    padding: auto;
    max-width: 100%;
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
}