// to compile: 
//      sass --watch sass:css
//      automatically compiles anything in "sass" folder to "css" folder as changes are made

//      sass <input.scss> [output.css]
//      compile input.scss to output.css once

//      sass sass:css
//      compiles anything in "sass" folder to "css" folder

@use "sass:math";
@use "fonts";
@use "global";

:root{
    font-size: 20pt;
    background-color: black;
}

body {
    font-family: fonts.$redHat;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    width: 8.5in;
    height: 11in;
    background-color: white;
}

#everything {
    display: flex;
    flex-wrap: wrap;
}

h1, h2, h3, h4, h5, p, ol, ul, li, a, button, small, menu, address, q {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    max-width: 30em;
    line-height: global.$line-height;
    text-wrap-style: balance;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    @extend %headings;
}

%headings {
    font-family: fonts.$volkorn;
}

strong {
    font-weight: 600;
}

h1 {
    font-size: 45pt;
    margin-block-start: 0.7em;
    font-weight: 750;
    margin-block-end: 0.1em;
    color: #62204f;
}

h2 {
    font-size: 23.3pt;
    font-weight: 100;
}

h3 {
    font-weight: 100;
    font-size: 17pt;
    margin-block-end: 0.1em;
    margin-block-start: 0.3em;
}

q {
    text-align: center;
    display: block;
    font-size: 28.5pt;
    margin-block-end: 0.1em;
    font-family: "Vollkorn";
    &::before {
        display: none;
    }
    &::after {
        display: none;
    }
}

cite {
    display: block;
    text-align: right;
}

img, video, iframe, svg {
    display: block;
}

.flyer {
    $padding: .25in;
    padding: $padding;
    width: 8.5in;
    height: 11in;
    position: relative;
    box-sizing: border-box;

    main {
        position: relative;
        p {
            margin: 0.6em 0;
            line-height: 1.4em;
        }
    }
    
    footer {
        $fpadding: math.div($padding, 2);
        position: absolute;
        width: calc(100% - $padding * 2);
        left: 0;
        bottom: $padding;
        background: white;
        padding: $fpadding $padding;
        .address {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 12pt;
            margin-bottom: 0.5em;
            p {
                padding: 0 3em;
                border-right: 1pt solid black;
                line-height: 1.4em;
            }
            p:last-of-type {
                border: none;
            }
            margin-bottom: 1em;
        }
        > p {
            margin-block-end: 1em;
        }
        strong {
            text-decoration: underline;
            font-style: normal;
            font-weight: unset;
        }
    }
    
    .footer-bottom {
        text-align: right;
        font-size: 8pt;
    }
}

.sunday {
    width: 40%;
}

.table-div {
    display: flex;
}

table {
    font-size: 15.3pt;
    text-align: center;
    border-spacing: 4pt;
    $padding: calc(0.4rem - 2pt);
    $radius: .4em;

    td, th {
        padding: $padding;
        border: black 1pt solid;;
    }
    td {
        vertical-align: baseline;
        background: global.$tertiaryColor;
    }
    th {
        font-size: 1.4em;
        background: global.$secondaryColor;
        border-radius: $radius $radius 0 0;
        font-family: fonts.$volkorn;
        height: 0;
    }
    &.sunday {
        tr:last-of-type {
            td:first-of-type{
                border-radius: 0 0 $radius $radius;
            }
        }
        td {
            vertical-align: revert;
        }
    }
    
    &.weekday {
        tr:last-of-type {
            td:first-of-type{
                border-radius: 0 0 $radius 0;
            }
        }
        td[rowspan="3"] {
            border-radius: 0 0 0 $radius;
        }
    }
}


@mixin emojiList() {
    system: cyclic;
    suffix: " ";
}

@counter-style sun1 {
    symbols: "🙏" "📍";
    @include emojiList();
}

.sun1 {
    list-style-type: sun1;
}

@counter-style sun2 {
    symbols: "🧒" "📍";
    @include emojiList();
}

.sun2 {
    list-style-type: sun2;
}

@counter-style sun3 {
    symbols: "🙌" "📍";
    @include emojiList();
}

.sun3 {
    list-style-type: sun3;
}

@counter-style tues {
    symbols: "👥" "📍"; // unicode code point
    @include emojiList();
}

.tues {
    list-style-type: tues;
}

@counter-style wed1 {
    symbols: "🧒" "📍"; // unicode code point
    @include emojiList();
}

.wed1 {
    list-style-type: wed1;
}

@counter-style wed2 {
    symbols: "📖" "📍"; // unicode code point
    @include emojiList();
}

.wed2 {
    list-style-type: wed2;
}

@counter-style thurs1 {
    symbols: "🧒" "📍"; // unicode code point
    @include emojiList();
}

.thurs1 {
    list-style-type: thurs1;
}

@counter-style thurs2 {
    symbols: "👑" "📍"; // unicode code point
    @include emojiList();
}

.thurs2 {
    list-style-type: thurs2;
}

@counter-style thurs3 {
    symbols: "🌸" "📍"; 
    @include emojiList();
}

.thurs3 {
    list-style-type: thurs3;
}

ul {
    padding-inline-start: 1.3em;
    li {
        text-align: left;
        padding-inline-start: 0.4em;
        margin-block-end: .5em;
        line-height: 1.25em;
        text-wrap-style: auto;
    }
    li:last-of-type {
        margin: 0;
    }
}

.flyer {
    background: radial-gradient(125% 125% at -2% 101%,
            rgba(245, 87, 2, 1) 10.5%,
            rgba(245, 120, 2, 1) 16%,
            rgba(245, 140, 2, 1) 17.5%,
            rgba(245, 170, 100, 1) 25%,
            rgba(238, 174, 202, 1) 40%,
            rgba(202, 179, 214, 1) 65%,
            rgba(148, 201, 233, 1) 100%);
}
