// to compile: 
//      sass --watch sass:css
//      automatically compiles anything in "sass" folder to "css" folder as changes are made

//      sass <input.scss> [output.css]
//      compile input.scss to output.css once

//      sass sass:css
//      compiles anything in "sass" folder to "css" folder

@use "sass:math";
@use "fonts";
@use "global";

:root{
    font-size: 20pt;
    background-color: black;
}

body {
    font-family: fonts.$redHat;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    width: 8.5in;
    height: 11in;
    background-color: white;
}

#everything {
    display: flex;
    flex-wrap: wrap;
}

h1, h2, h3, h4, h5, p, ol, ul, li, a, button, small, menu, address, q {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    max-width: 30em;
    line-height: global.$line-height;
    text-wrap-style: balance;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    @extend %headings;
}

%headings {
    font-family: fonts.$volkorn;
}

h1 {
    font-size: 92pt;
    margin-block-start: 0.3em;
    font-weight: 750;
    margin-block-end: 0.1em;
    color: #62204f;
}

h2 {
    font-size: 23.3pt;
    font-weight: 100;
}

h3 {
    font-weight: 100;
    font-size: 17pt;
    margin-block-end: 0.1em;
    margin-block-start: 0.3em;
}

ul {
    list-style-type: none;
}

q {
    text-align: center;
    display: block;
    font-size: 28.5pt;
    margin-block-end: 0.1em;
    font-family: "Vollkorn";
    &::before {
        display: none;
    }
    &::after {
        display: none;
    }
}

cite {
    display: block;
    text-align: right;
}

strong {
    text-decoration: underline;
    font-style: normal;
    font-weight: unset;
}

img, video, iframe, svg {
    display: block;
}

.flyer {
    $padding: .25in;
    padding: $padding;
    width: 8.5in;
    height: 11in;
    position: relative;
    box-sizing: border-box;

    main {
        position: relative;
        p {
            margin: 0.5em 0;
            line-height: 1.4em;
        }
    }
    
    footer {
        $fpadding: math.div($padding, 2);
        position: absolute;
        width: calc(100% - $padding * 2);
        left: 0;
        bottom: $padding;
        background: white;
        padding: $fpadding $padding;
        .address {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 12pt;
            margin-bottom: 0.5em;
            p {
                padding: 0 3em;
                border-right: 1pt solid black;
                line-height: 1.4em;
            }
            p:last-of-type {
                border: none;
            }
            margin-bottom: 1em;
        }
        > p {
            margin-block-end: 1em;
        }
    }
    
    .footer-bottom {
        text-align: right;
        font-size: 8pt;
    }
}

table {
    font-size: 19pt;
    margin: auto;
    text-align: center;
    border-spacing: 4pt;
    width: 90%;
    $padding: calc(0.4rem - 2pt);
    $radius: .4em;

    td, th {
        padding: $padding;
        border: black 1pt solid;;
    }
    td {
        vertical-align: baseline;
        background: global.$tertiaryColor;
    }
    tr:last-of-type {
        td:first-of-type{
            border-radius: 0 0 0 $radius;
        }
        td:last-of-type {
            border-radius: 0 0 $radius 0;
        }
    }
    th {
        font-size: 1.3em;
        background: global.$secondaryColor;
        border-radius: $radius $radius 0 0;
        font-family: fonts.$volkorn;
    }
}

.flyer {
    background: radial-gradient(125% 125% at -2% 101%,
            rgba(245, 87, 2, 1) 10.5%,
            rgba(245, 120, 2, 1) 16%,
            rgba(245, 140, 2, 1) 17.5%,
            rgba(245, 170, 100, 1) 25%,
            rgba(238, 174, 202, 1) 40%,
            rgba(202, 179, 214, 1) 65%,
            rgba(148, 201, 233, 1) 100%);
}
