
@use "sass:math";
@use "global";

// silly little tooltip
.copy {
    $offset: .6em;
    $timing: 120ms global.$cubic-bezier-in;
    $font-size: .9em;

    cursor: pointer;
    position: relative;

    &.no-clipboard {
        -webkit-user-select: all;
        -ms-user-select: all;
        user-select: all;
    }
    // display: inline-block;

    @keyframes pop {
        0% {
            font-size: 0;
            // visibility: hidden;
        }

        100% {
            font-size: $font-size;
        }
    }

    @keyframes fade {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    svg {
        height: 1em;
        font-size: inherit;
    }

    .tooltip::after,
    .tooltip {
        position: absolute;
        left: 50%;
    }

    .tooltip.hidden,
    .tooltip.hidden span::after {
        visibility: hidden;
        animation: none;
    }

    // text popup
    .tooltip {
        font-size: $font-size;
        
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        span {
            background-color: global.$tertiaryColor;
            color: white;
    
            line-height: 1em;
            font-weight: normal;
            padding: 0.5em;
            border-radius: 0.15rem;
            
            display: flex;
            align-items: center;
            gap: .5em;
        }
    
        &.bottom {
            transform: global.$translate500;
            top: 100%;
            padding-top: .6em;
        }

        &.right {
            top: 50%;
            left: 100%;
            padding-left: $offset;
            transform: translateY(-50%);
        }

        &.top {
            bottom: 100%;
            padding-bottom: .6em;
            transform: global.$translate500;
        }

        &.left {
            top: 50%;
            transform: translate(-100%, -50%);
            padding-right: $offset;
            left: 0;
        }
    }

    .fade {
        animation: fade $timing;
        opacity: 0;
    }

    .pop {
        animation: pop $timing;
    }

    .pop.fade {
        animation: fade $timing, pop $timing;
        animation-play-state: running, paused;
    }

    // silly little arrow
    .tooltip::after {
        content: "";
        display: block;
        width: 0;
        border-bottom: 0.3em solid transparent;
        border-top: 0.3em solid transparent;
        border-left: 0.3em solid transparent;
        border-right: 0.3em solid transparent;
    }

    .bottom::after {
        transform: translate(-50%, -100%);
        top: $offset;
        border-bottom-color: global.$tertiaryColor;
    }

    .right::after {
        transform: translate(-100%, -50%);
        left: $offset;
        top: 50%;
        border-right-color: global.$tertiaryColor;
    }

    .top::after {
        transform: global.$translate500;
        top: calc(100% - $offset);
        border-top-color: global.$tertiaryColor;
    }

    .left::after {
        transform: global.$translate050;
        left: calc(100% - $offset);
        top: 50%;
        border-left-color: global.$tertiaryColor;
    }
}