@font-face {
  font-family: "Source Sans 3 VF";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  src: url("WOFF2/VF/SourceSans3VF-Upright.ttf.woff2") format("woff2-variations"), url("WOFF/VF/SourceSans3VF-Upright.ttf.woff") format("woff-variations"), url("VF/SourceSans3VF-Upright.ttf") format("truetype-variations");
}
@font-face {
  font-family: "Source Sans 3 VF";
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  src: url("WOFF2/VF/SourceSans3VF-Italic.ttf.woff2") format("woff2-variations"), url("WOFF/VF/SourceSans3VF-Italic.ttf.woff") format("woff-variations"), url("VF/SourceSans3VF-Italic.ttf") format("truetype-variations");
}
@font-face {
  font-family: "Source Sans 3";
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  src: url("WOFF2/TTF/SourceSans3-ExtraLight.ttf.woff2") format("woff2"), url("WOFF/OTF/SourceSans3-ExtraLight.otf.woff") format("woff");
}
@font-face {
  font-family: "Source Sans 3";
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  src: url("WOFF2/TTF/SourceSans3-ExtraLightIt.ttf.woff2") format("woff2"), url("WOFF/OTF/SourceSans3-ExtraLightIt.otf.woff") format("woff");
}
@font-face {
  font-family: "Source Sans 3";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url("WOFF2/TTF/SourceSans3-Light.ttf.woff2") format("woff2"), url("WOFF/OTF/SourceSans3-Light.otf.woff") format("woff");
}
@font-face {
  font-family: "Source Sans 3";
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: url("WOFF2/TTF/SourceSans3-LightIt.ttf.woff2") format("woff2"), url("WOFF/OTF/SourceSans3-LightIt.otf.woff") format("woff");
}
@font-face {
  font-family: "Source Sans 3";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("WOFF2/TTF/SourceSans3-Regular.ttf.woff2") format("woff2"), url("WOFF/OTF/SourceSans3-Regular.otf.woff") format("woff");
}
@font-face {
  font-family: "Source Sans 3";
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url("WOFF2/TTF/SourceSans3-It.ttf.woff2") format("woff2"), url("WOFF/OTF/SourceSans3-It.otf.woff") format("woff");
}
@font-face {
  font-family: "Source Sans 3";
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url("WOFF2/TTF/SourceSans3-Semibold.ttf.woff2") format("woff2"), url("WOFF/OTF/SourceSans3-Semibold.otf.woff") format("woff");
}
@font-face {
  font-family: "Source Sans 3";
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url("WOFF2/TTF/SourceSans3-SemiboldIt.ttf.woff2") format("woff2"), url("WOFF/OTF/SourceSans3-SemiboldIt.otf.woff") format("woff");
}
@font-face {
  font-family: "Source Sans 3";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("WOFF2/TTF/SourceSans3-Bold.ttf.woff2") format("woff2"), url("WOFF/OTF/SourceSans3-Bold.otf.woff") format("woff");
}
@font-face {
  font-family: "Source Sans 3";
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url("WOFF2/TTF/SourceSans3-BoldIt.ttf.woff2") format("woff2"), url("WOFF/OTF/SourceSans3-BoldIt.otf.woff") format("woff");
}
@font-face {
  font-family: "Source Sans 3";
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  src: url("WOFF2/TTF/SourceSans3-Black.ttf.woff2") format("woff2"), url("WOFF/OTF/SourceSans3-Black.otf.woff") format("woff");
}
@font-face {
  font-family: "Source Sans 3";
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  src: url("WOFF2/TTF/SourceSans3-BlackIt.ttf.woff2") format("woff2"), url("WOFF/OTF/SourceSans3-BlackIt.otf.woff") format("woff");
}
@font-face {
  font-family: "Ysabeau Office";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Ysabeau_Office/static/YsabeauOffice-Black.woff2") format("woff2"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-Black.woff") format("woff"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Ysabeau Office";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/Ysabeau_Office/static/YsabeauOffice-BlackItalic.woff2") format("woff2"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-BlackItalic.woff") format("woff"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Ysabeau Office";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Ysabeau_Office/static/YsabeauOffice-Bold.woff2") format("woff2"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-Bold.woff") format("woff"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Ysabeau Office";
  font-style: italic;
  font-weight: bold;
  src: url("../fonts/Ysabeau_Office/static/YsabeauOffice-BoldItalic.woff2") format("woff2"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-BoldItalic.woff") format("woff"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Ysabeau Office";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Ysabeau_Office/static/YsabeauOffice-ExtraBold.woff2") format("woff2"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-ExtraBold.woff") format("woff"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Ysabeau Office";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/Ysabeau_Office/static/YsabeauOffice-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-ExtraBoldItalic.woff") format("woff"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Ysabeau Office";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/Ysabeau_Office/static/YsabeauOffice-ExtraLight.woff2") format("woff2"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-ExtraLight.woff") format("woff"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Ysabeau Office";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/Ysabeau_Office/static/YsabeauOffice-ExtraLightItalic.woff2") format("woff2"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-ExtraLightItalic.woff") format("woff"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Ysabeau Office";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Ysabeau_Office/static/YsabeauOffice-Italic.woff2") format("woff2"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-Italic.woff") format("woff"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Ysabeau Office";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Ysabeau_Office/static/YsabeauOffice-Light.woff2") format("woff2"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-Light.woff") format("woff"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Ysabeau Office";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Ysabeau_Office/static/YsabeauOffice-LightItalic.woff2") format("woff2"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-LightItalic.woff") format("woff"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Ysabeau Office";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Ysabeau_Office/static/YsabeauOffice-Medium.woff2") format("woff2"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-Medium.woff") format("woff"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Ysabeau Office";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Ysabeau_Office/static/YsabeauOffice-MediumItalic.woff2") format("woff2"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-MediumItalic.woff") format("woff"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Ysabeau Office";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Ysabeau_Office/static/YsabeauOffice-Regular.woff2") format("woff2"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-Regular.woff") format("woff"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Ysabeau Office";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Ysabeau_Office/static/YsabeauOffice-SemiBold.woff2") format("woff2"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-SemiBold.woff") format("woff"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Ysabeau Office";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/Ysabeau_Office/static/YsabeauOffice-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-SemiBoldItalic.woff") format("woff"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Ysabeau Office";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/Ysabeau_Office/static/YsabeauOffice-Thin.woff2") format("woff2"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-Thin.woff") format("woff"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Ysabeau Office";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/Ysabeau_Office/static/YsabeauOffice-ThinItalic.woff2") format("woff2"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-ThinItalic.woff") format("woff"), url("../fonts/Ysabeau_Office/static/YsabeauOffice-ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Ysabeau Office";
  font-style: italic;
  font-weight: 100 900;
  src: url("../fonts/Ysabeau_Office/YsabeauOffice-Italic-VariableFont_wght.woff2") format("woff2"), url("../fonts/Ysabeau_Office/YsabeauOffice-Italic-VariableFont_wght.woff") format("woff"), url("../fonts/Ysabeau_Office/YsabeauOffice-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Ysabeau Office";
  font-style: normal;
  font-weight: 100 900;
  src: url("../fonts/Ysabeau_Office/YsabeauOffice-VariableFont_wght.woff2") format("woff2"), url("../fonts/Ysabeau_Office/YsabeauOffice-VariableFont_wght.woff") format("woff"), url("../fonts/Ysabeau_Office/YsabeauOffice-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Libertinus Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Libertinus/static/WOFF2/LibertinusSans-Bold.woff2") format("woff2"), url("../fonts/Libertinus/static/WOFF/LibertinusSans-Bold.woff") format("woff"), url("../fonts/Libertinus/static/OTF/LibertinusSans-Bold.otf") format("opentype"), url("../fonts/Libertinus/static/TTF/LibertinusSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Libertinus Sans";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Libertinus/static/WOFF2/LibertinusSans-Italic.woff2") format("woff2"), url("../fonts/Libertinus/static/WOFF/LibertinusSans-Italic.woff") format("woff"), url("../fonts/Libertinus/static/OTF/LibertinusSans-Italic.otf") format("opentype"), url("../fonts/Libertinus/static/TTF/LibertinusSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Libertinus Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Libertinus/static/WOFF2/LibertinusSans-Regular.woff2") format("woff2"), url("../fonts/Libertinus/static/WOFF/LibertinusSans-Regular.woff") format("woff"), url("../fonts/Libertinus/static/OTF/LibertinusSans-Regular.otf") format("opentype"), url("../fonts/Libertinus/static/TTF/LibertinusSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Red Hat";
  font-style: italic;
  font-weight: 300 700;
  src: url("../fonts/RedHat/fonts/RedHatText/variable/RedHatText-Italic-VF.woff2") format("woff2"), url("../fonts/RedHat/fonts/RedHatText/variable/RedHatText-Italic-VF.woff") format("woff"), url("../fonts/RedHat/fonts/RedHatText/variable/RedHatText-Italic-VF.ttf") format("truetype");
}
@font-face {
  font-family: "Red Hat";
  font-style: normal;
  font-weight: 300 700;
  src: url("../fonts/RedHat/fonts/RedHatText/variable/RedHatText-VF.woff2") format("woff2"), url("../fonts/RedHat/fonts/RedHatText/variable/RedHatText-VF.woff") format("woff"), url("../fonts/RedHat/fonts/RedHatText/variable/RedHatText-VF.ttf") format("truetype");
}
main .article {
  padding-bottom: 4em;
}
main article {
  width: clamp(28rem, 9.2rem + 40vw, 32rem);
  margin: 4em var(--outer-padding);
  margin-left: min(43vw, 100vw - clamp(28rem, 9.2rem + 40vw, 32rem) - var(--outer-padding));
  position: relative;
}
@media (width <= 900px) {
  main article {
    max-width: calc(100vw - var(--outer-padding) * 2 - 0rem);
    width: 32em;
    margin-left: auto;
    margin-right: auto;
  }
}
main article li {
  margin-block-end: 0.6em;
}
@media (width > 900px) {
  main article hgroup {
    width: calc(100vw - 0rem - (min(43vw, 100vw - clamp(28rem, 9.2rem + 40vw, 32rem) - var(--outer-padding)) + var(--outer-padding)));
  }
}
main article figure {
  position: absolute;
  right: calc(100% + var(--padding));
  width: min(43vw - var(--padding) * 2 - 0rem, 100vw - var(--outer-padding) * 2 - var(--padding) - clamp(28rem, 9.2rem + 40vw, 32rem));
  width: calc(43vw - var(--padding) * 2 - 0rem);
  width: calc(43vw - (var(--outer-padding)) - var(--padding));
  width: min(43vw - (var(--outer-padding)) - var(--padding), 100vw - var(--outer-padding) * 2 - var(--padding) - clamp(28rem, 9.2rem + 40vw, 32rem));
}
@media (height <= 450px), (width <= 900px) {
  main article figure {
    position: revert;
    width: 100%;
    max-width: unset;
    margin: 2.5em 0;
  }
}
@media (height > 450px) and (width > 900px) {
  main article figure img {
    width: 100%;
  }
}
@media (height <= 450px), (width <= 900px) {
  main article figure img {
    max-width: 100%;
    max-height: max(70vh, 21em);
    margin: auto;
  }
}
main article figure figcaption {
  margin: 1em 0.5em;
  font-size: 0.9rem;
  color: #828282;
}
@media (height <= 450px), (width <= 900px) {
  main article figure figcaption {
    margin: 1em;
  }
}
main article aside {
  border-top: #dedede solid 2px;
  border-bottom: #dedede solid 2px;
  padding: 1em;
  margin: 2.5em 0;
  font-family: "Red Hat", "Libertinus Sans", "Ysabeau Office", Verdana, sans-serif;
  --line-height: 1.5em;
  line-height: 1.5em;
  color: #12488f;
}
@media (width > 900px) {
  main article aside {
    width: 30em;
    max-width: calc(100vw - 2em - (min(43vw, 100vw - clamp(28rem, 9.2rem + 40vw, 32rem) - var(--outer-padding)) + var(--outer-padding)));
    margin-right: var(--outer-padding);
    margin-left: clamp(0rem, -30rem + 50vw, 5rem);
    margin-left: clamp(0rem, 100vw - 32em - min(43vw, 100vw - clamp(28rem, 9.2rem + 40vw, 32rem) - var(--outer-padding)) - var(--outer-padding), 5rem);
    position: relative;
    float: left;
    margin-top: 1.5em;
  }
}
@media (width > 700px) {
  main article .gallery {
    column-gap: 1em;
    width: calc(100vw - var(--outer-padding) * 2 - 0rem);
    position: relative;
    left: calc(min(43vw, 100vw - clamp(28rem, 9.2rem + 40vw, 32rem) - var(--outer-padding)) * -1);
    margin: 4em var(--outer-padding);
    column-width: 18em;
  }
}
@media (width <= 900px) {
  main article .gallery {
    left: calc((100vw - 32em) / -2);
  }
}
@media (width <= 700px) {
  main article .gallery {
    margin: 4em 0;
    column-width: 12em;
    column-gap: var(--padding);
  }
}
main article .gallery img {
  margin-bottom: 1em;
  width: 100%;
}
@media (width <= 700px) {
  main article .gallery img {
    margin-bottom: var(--padding);
  }
}
main article footer h3 {
  font-size: 1.05rem;
  border-bottom: #dedede solid 2px;
  font-variant-numeric: oldstyle-nums tabular-nums;
  font-family: "Libertinus Sans", "Ysabeau Office", Verdana, sans-serif;
  --line-height: 1.4em;
  margin-bottom: 1em;
}
main article footer li {
  font-size: 0.9rem;
}
main article footer li small {
  font-size: inherit;
}
main .hero-img {
  display: flex;
  align-items: center;
  overflow: clip;
  max-height: max(50vh, 18em);
}
main .hero-img img {
  width: 100%;
}

/*# sourceMappingURL=article.css.map */
