@charset "UTF-8";
main h3 {
  font-weight: 600;
}
main .banner.no-img {
  background-color: #f9f9f9;
}
main .banner.left-text hgroup {
  font-size: 2.5rem;
}
main .banner.center-text:first-of-type .img {
  --banner-background: url("../images/canoes\ off\ of\ miloliʻi\ coast.jpg");
  --background-position: 0%;
}
main .banner.center-text:first-of-type {
  font-size: 1.5rem;
}
main .banner.center-text:first-of-type h1 {
  font-size: 3rem;
  margin-block-end: 0.8em;
}
main .banner.center-text:first-of-type p {
  font-size: inherit;
  margin-block-end: 1em;
}
main .banner.center-text:first-of-type .button {
  font-size: inherit;
}
main .banner.center-text:nth-of-type(2) section {
  padding-bottom: 0;
}
main .grid {
  margin: 4em 0;
}
main .grid ul {
  max-width: unset;
  font-size: 1em;
  display: grid;
  align-items: baseline;
  justify-content: center;
}
main .grid ul a {
  color: black;
  transition: border-color 100ms ease-out, text-decoration-color 100ms ease-out, background-color 100ms ease-out, color 100ms ease-out;
}
main .grid ul a:focus-visible, main .grid ul a:hover {
  color: #12488f;
}
main .grid ul a * {
  transition: border-color 100ms ease-out, text-decoration-color 100ms ease-out, background-color 100ms ease-out, color 100ms ease-out;
}
main .more-pages {
  width: stretch;
}
main .more-pages ul {
  grid-template-columns: repeat(auto-fit, min(19em, 100vw - var(--outer-padding) * 2 - 0rem));
  gap: 2em;
}
main .more-pages ul a {
  background-color: white;
  box-shadow: 0.3px 0.3px 0.5px oklch(from var(--shadow-color) l c h/0.35), 1px 1px 1.6px -2.3px oklch(from var(--shadow-color) l c h/0.38);
  border-bottom: 1em solid #07254b;
}
main .more-pages ul a:focus-visible, main .more-pages ul a:hover {
  border-color: #12488f;
}
main .more-pages ul a:focus-visible img, main .more-pages ul a:hover img {
  transform: scale(110%);
}
main .more-pages ul a div:last-child {
  padding: 1em;
}
main .more-pages ul a div:last-child h3 {
  margin-block-end: 0.5em;
}
main .more-pages ul a div:first-child {
  overflow: hidden;
}
main .more-pages ul a div:first-child img {
  height: 12em;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: transform 250ms ease-in;
}
main .partners ul {
  grid-template-columns: repeat(auto-fit, min(11.5em, 100vw - var(--outer-padding) * 2 - 0rem));
  gap: 1.5em;
  text-align: center;
}
main .partners ul h3 {
  margin-top: 1em;
  font-size: 0.9rem;
}
main .partners ul img {
  width: 75%;
  margin: auto;
}
main .hero-img {
  display: flex;
  align-items: center;
  overflow: clip;
  max-height: max(50vh, 18em);
}
main .hero-img img {
  width: 100%;
}
main .banner.left-text:not(.no-img) .img {
  background-image: var(--banner-background);
}
main .banner.left-text section > p {
  border-top: rgba(255, 255, 255, 0.18) solid 2px;
  border-bottom: rgba(255, 255, 255, 0.18) solid 2px;
  padding: 1em 0;
}
main .banner.left-text hgroup :last-child {
  box-shadow: none;
}
main .banner.center-text {
  align-items: center;
}
main .banner.center-text:not(.no-img) .img {
  background-image: var(--banner-background);
}
main .banner.center-text section {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
}
@media (width > 700px) and (height > 450px) {
  main .banner.center-text section > p {
    margin: auto;
  }
}
main .banner.center-text h1 {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
