@charset "UTF-8";
.mountain-view .img {
  --banner-background: url("../images/paʻa pono center mountain view.jpeg");
  background-position-x: right;
}

.trucks .img {
  --banner-background: url("../images/paʻa\ pono\ center\ trucks.jpeg");
  background-position-x: right;
}

main .banner {
  min-height: 20em;
}
main .banner.center-text p {
  font-weight: 200;
}
main .side-section.right.sticky .img {
  background-image: url("../images/Miloliʻi charter school students.JPG");
  background-position-x: right;
}
main .side-section.right.sticky {
  display: flex;
  margin: 4em var(--outer-padding);
  gap: var(--padding);
  align-items: center;
}
@media (width <= 900px) {
  main .side-section.right.sticky {
    flex-direction: column;
  }
}
main .side-section.right.sticky article {
  position: relative;
}
@media (width > 900px) {
  main .side-section.right.sticky article {
    max-width: 55%;
    flex-shrink: 0;
  }
}
main .side-section.right.sticky article > div {
  max-width: 32em;
}
main .side-section.right.sticky article > div section:last-child ul:last-child li:last-child, main .side-section.right.sticky article > div section:last-child p:last-child {
  margin-block-end: 0;
}
@media (width <= 900px) {
  main .side-section.right.sticky article > div {
    margin-left: auto;
    margin-right: auto;
  }
}
main .side-section.right.sticky .img {
  width: stretch;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
}
@media (height > 450px) and (width > 900px) {
  main .side-section.right.sticky .img {
    max-height: min(100vh - 8em - 0rem, 75vw);
    height: stretch;
    position: sticky;
    background-size: cover;
    top: 4em;
  }
}
@media (height <= 450px), (width <= 900px) {
  main .side-section.right.sticky .img {
    background-image: none;
  }
}
main .side-section.right.sticky .img img {
  max-height: stretch;
}
@media (height > 450px) and (width > 900px) {
  main .side-section.right.sticky .img img {
    position: absolute;
    left: 0;
    display: none;
  }
}
@media (width <= 900px) {
  main .side-section.right.sticky .img img {
    margin: auto;
    max-width: 90%;
    display: unset;
  }
}
@media (width <= 900px) {
  main .side-section.right.sticky .img {
    position: unset;
    height: fit-content;
    padding-top: 4em;
    background: none;
  }
}
main .side-section.right.no-sticky {
  display: flex;
  margin: 4em var(--outer-padding);
  gap: var(--padding);
  align-items: center;
}
@media (width <= 900px) {
  main .side-section.right.no-sticky {
    flex-direction: column;
  }
}
main .side-section.right.no-sticky article {
  position: relative;
}
@media (width > 900px) {
  main .side-section.right.no-sticky article {
    max-width: 55%;
    flex-shrink: 0;
  }
}
main .side-section.right.no-sticky article > div {
  max-width: 32em;
}
main .side-section.right.no-sticky article > div section:last-child ul:last-child li:last-child, main .side-section.right.no-sticky article > div section:last-child p:last-child {
  margin-block-end: 0;
}
@media (width <= 900px) {
  main .side-section.right.no-sticky article > div {
    margin-left: auto;
    margin-right: auto;
  }
}
main .side-section.right.no-sticky .img {
  width: stretch;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  min-height: stretch;
}
main .side-section.right.no-sticky .img img {
  max-height: stretch;
}
@media (height > 450px) and (width > 900px) {
  main .side-section.right.no-sticky .img img {
    position: absolute;
    left: 0;
  }
}
@media (width <= 900px) {
  main .side-section.right.no-sticky .img img {
    margin: auto;
    max-width: 90%;
  }
}
@media (width <= 900px) {
  main .side-section.right.no-sticky .img {
    position: unset;
    height: fit-content;
    padding-top: 4em;
  }
}
main .side-section.left {
  display: flex;
  margin: 4em var(--outer-padding);
  gap: var(--padding);
  align-items: center;
  flex-direction: row-reverse;
}
@media (width <= 900px) {
  main .side-section.left {
    flex-direction: column;
  }
}
main .side-section.left article {
  position: relative;
}
@media (width > 900px) {
  main .side-section.left article {
    max-width: 55%;
    flex-shrink: 0;
  }
}
main .side-section.left article > div {
  max-width: 32em;
}
main .side-section.left article > div section:last-child ul:last-child li:last-child, main .side-section.left article > div section:last-child p:last-child {
  margin-block-end: 0;
}
@media (width <= 900px) {
  main .side-section.left article > div {
    margin-left: auto;
    margin-right: auto;
  }
}
main .side-section.left .img {
  width: stretch;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  min-height: stretch;
}
main .side-section.left .img img {
  max-height: stretch;
}
@media (height > 450px) and (width > 900px) {
  main .side-section.left .img img {
    position: absolute;
    right: 0;
  }
}
@media (width <= 900px) {
  main .side-section.left .img img {
    margin: auto;
    max-width: 90%;
  }
}
@media (width <= 900px) {
  main .side-section.left .img {
    position: unset;
    height: fit-content;
    padding-top: 4em;
  }
}
main .banner.left-text {
  padding: 3em var(--outer-padding);
  display: flex;
  align-items: center;
}
main .banner.left-text > div {
  background-image: var(--banner-background);
  opacity: var(--overlay);
}
main .banner.left-text section > p {
  border-top: rgba(255, 255, 255, 0.18) solid 2px;
  border-bottom: rgba(255, 255, 255, 0.18) solid 2px;
  padding: 1em 0;
}
main .banner.left-text hgroup {
  font-size: 3rem;
}
main .banner.left-text hgroup :last-child {
  box-shadow: none;
}
main .banner.center-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .banner.center-text > div {
  background-image: var(--banner-background);
  opacity: var(--overlay);
}
main .banner.center-text section {
  width: max-content;
  max-width: calc(100vw - var(--outer-padding) * 2 - 0rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em var(--outer-padding);
}
@media (width > 700px) and (height > 450px) {
  main .banner.center-text section > p {
    margin: auto;
  }
}
main .banner.center-text h1 {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
