// to compile: 
//      sass --watch sass:css
//      automatically compiles anything in "sass" folder to "css" folder as changes are made

//      sass --watch sass:css --style=compressed
//      minifies

//      sass <input.scss> [output.css]
//      compile input.scss to output.css once

//      sass sass:css
//      compiles anything in "sass" folder to "css" folder

@use "sass:math";
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

$translate500: translate(-50%, 0%);
$translate5050: translate(-50%, -50%);

@mixin centerFillWidth() {
    width: -webkit-fill-available;
    text-align: center;
}

// center element horizontally and vertically within parent container
@mixin absoluteCenter(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

:root{
    font-size: 16px;
}

body {
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, p, ol, ul, li, a, button, small, th, menu {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
    font-weight: normal;
}

table {
    border-spacing: 0;
}

button, input[type="submit"] {
    cursor: pointer;
}

.hidden{
    display: none;
}