@use "sass:math";
@use "../../../scss/global";

main {
    .article {
        padding-bottom: global.$max-padding;
    }
    article {
        margin: global.$max-padding var(--padding);
        width: 65ch;
        max-width: calc(100% - var(--padding) * 2 - 0rem);
        margin-left: auto;
        margin-right: auto;
        li {
            margin-block-end: 0.6em;
        }
    }
    @include global.hero-img();
}