@use "sass:math";
@use "../../../scss/global";

.mountain-view {
    background-image: linear-gradient(0deg, #000000a5, #000000a5), url("../images/paʻa pono center mountain view.jpeg");
    background-position-x: right;
    background-position-y: center;
}

.trucks {
    background-image: linear-gradient(0deg, #00000096, #00000096), url("../images/paʻa pono center trucks.jpeg");
    background-attachment: fixed;
}

main {
    .banner {
        min-height: 20em;
        &.center-text {
            p {
                font-weight: 200;
            }
        }
    }
    .side-section {
        &.right {
            &.sticky {
                .img {
                    background-image: url("../images/Miloliʻi\ charter\ school\ students.JPG");
                    background-position-x: right;
                }
                @include global.side-section($left: false);
            }
            &.no-sticky {
                @include global.side-section($left: false, $sticky: false);
            }
        }
        &.left {
            @include global.side-section($sticky: false);
        }
    }
    @include global.banner-left-text();
    @include global.banner-center-text();
}