@use "sass:math";
@use "../../../scss/global";

.mountain-view {
    .img {
        --banner-background: url("../images/paʻa pono center mountain view.jpeg");
        background-position-x: right;
    }
}

.trucks {
    .img {
        --banner-background: url("../images/paʻa\ pono\ center\ trucks.jpeg");
        background-position-x: right;
        // background-attachment: fixed;
    }
}

main {
    .banner {
        min-height: 20em;
        &.center-text {
            p {
                font-weight: 200;
            }
        }
    }
    .side-section {
        &.right {
            &.sticky {
                .img {
                    background-image: url("../images/Miloliʻi\ charter\ school\ students.JPG");
                    background-position-x: right;
                }
                @include global.side-section($left: false);
            }
            &.no-sticky {
                @include global.side-section($left: false, $sticky: false);
            }
        }
        &.left {
            @include global.side-section($sticky: false);
        }
    }
    @include global.banner-left-text();
    @include global.banner-center-text();
}