@use "sass:math";
@use "global";
@use "fonts";

main {
    .article {
        padding-bottom: global.$max-padding;
    }
    article {
        $left-pad: global.$left-pad;
        // $width: clamp(26rem, -2.2rem + 60vw, 32rem);
        $width: clamp(28rem, 9.2rem + 40vw, 32rem);
        $true-left-pad: min($left-pad, 100vw - $width - var(--outer-padding));
        width: $width;
        margin: global.$max-padding var(--outer-padding);
        margin-left: $true-left-pad;
        position: relative;
        @include global.mobile {
            max-width: global.$max-width;
            width: global.$line-length;
            margin-left: auto;
            margin-right: auto;
        }
        li {
            margin-block-end: 0.6em;
        }
        hgroup {
            @include global.desktop {
                width: global.innerDim($fullDim: 100vw, $width: calc($true-left-pad + var(--outer-padding)));
            }
        }
        figure {
            position: absolute;
            right: calc(100% + var(--padding));
            width: min(global.innerDim($fullDim: $left-pad, $padding: var(--padding)), calc(100vw - var(--outer-padding) * 2 - var(--padding) - $width));
            width: global.innerDim($fullDim: $left-pad, $padding: var(--padding));
            width: calc($left-pad - (var(--outer-padding)) - var(--padding));
            width: min(calc($left-pad - (var(--outer-padding)) - var(--padding)), calc(100vw - var(--outer-padding) * 2 - var(--padding) - $width));
            @include global.mobile-short {
                position: revert;
                width: 100%;
                max-width: unset;
                margin: 2.5em 0;
            }
            img {
                @include global.desktop-tall {
                    width: 100%;
                }
                @include global.mobile-short {
                    max-width: 100%;
                    max-height: max(70vh, 21em);
                    margin: auto;
                }
            }
            figcaption {
                margin: 1em .5em;
                font-size: global.$smaller-size;
                color: global.$grey2;
                @include global.mobile-short {
                    margin: 1em;
                }
            }
        }
        aside {
            $awidth: 30em;
            border-top: global.$border-grey;
            border-bottom: global.$border-grey;
            padding: 1em;
            margin: 2.5em 0;
            @include fonts.redhat(true);
            line-height: 1.5em;
            color: global.$secondaryColor;
            @include global.desktop {
                width: $awidth;
                max-width: global.innerDim($fullDim: 100vw, $width: calc($true-left-pad + var(--outer-padding)), $padding: 1em);
                margin-right: var(--outer-padding);
                margin-left: clamp(0rem, -30rem + 50vw, 5rem);
                margin-left: clamp(0rem, calc(100vw - global.$line-length - $true-left-pad - var(--outer-padding)), 5rem);
                position: relative;
                float: left;
                margin-top: calc(2.5em - 1em);
            }
        }
        .gallery {
            @include global.tablet-desktop-tall {   
                column-gap: 1em;
                width: global.$max-width;
                position: relative;
                left: calc($true-left-pad * -1);
                margin: global.$max-padding var(--outer-padding);
                column-width: 18em;
            }
            @include global.mobile {
                left: calc((100vw - global.$line-length) / -2);
            }
            @include global.mobile-small-tall {
                margin: global.$max-padding 0;
                column-width: 12em;
                column-gap: var(--padding);
            }
            img {
                margin-bottom: 1em;
                width: 100%;
                @include global.mobile-small-tall {
                    margin-bottom: var(--padding);
                }
            }
        }
        footer {
            h3 {
                font-size: global.$p-size;
                border-bottom: global.$border-grey;
                @include fonts.libertinus();
                margin-bottom: 1em;
            }
            li {
                font-size: global.$smaller-size;
                small {
                    font-size: inherit;
                }
            }
        }
    }
    @include global.hero-img();
}