@use "sass:math";
@use "sass:string";

$translate500: translateX(-50%);
$translate050: translateY(-50%);
$translate5050: translate(-50%, -50%);

$secondaryColor: #12488f;
$tertiaryColor: #07254b;
$highlightColor: #d0e3fc;

$youtube: rgb(255, 0, 51);
$facebook:#0866FF;

$grey0: #262626;
$grey1: #4e4e4e;
$grey2: #828282;
$grey3: #bbbcbb;
$grey3_5: #dedede;
$grey4: #e5e5e5;
$grey5: #f9f9f9;

$transp-white: rgba(255, 255, 255, 0.18);
$transp-black: rgba(0, 0, 0, 0.215);

@function alphaOKLCH($alpha) {
    @return oklch(from var(--shadow-color) l c h / $alpha);
}

$shadow-elevation-low: 0.3px 0.3px 0.5px #{alphaOKLCH(0.35)},
    1px 1px 1.6px -2.3px #{alphaOKLCH(0.38)};
$shadow-elevation-medium: 0.3px 0.3px 0.5px #{alphaOKLCH(0.33)},
    1.3px 1.3px 2.1px -1.2px #{alphaOKLCH(0.35)},
    5px 5px 8.1px -2.3px #{alphaOKLCH(0.36)};
$shadow-elevation-high: 0.3px 0.3px 0.5px #{alphaOKLCH(0.37)},
    2.2px 2.2px 3.6px -0.6px #{alphaOKLCH(0.38)},
    5px 5px 8.1px -1.2px #{alphaOKLCH(0.39)},
    10.7px 10.7px 17.4px -1.8px #{alphaOKLCH(0.4)},
    21.2px 21.3px 34.5px -2.3px #{alphaOKLCH(0.41)};

$p-size: 1.05em;
$smaller-size: .9em;

$min-padding: 3vw;
$max-padding: 4em;
$left-pad: 43vw;

$line0: 1px;
$line: 2px;
$line1: 3px;
$rel-line: .06em;
$line-length: 32em;

$breakpoint1: 900px;
$breakpoint2: 700px;
$breakpointh1: 450px;
$breakpointh2: 350px;

// inverse of tablet-desktop
@mixin mobile-small {
    @media (width <= $breakpoint2), (height <= $breakpointh1) {
        @content;
    }
}

@mixin mobile-small-tall {
    @media (width <= $breakpoint2) {
        @content;
    }
}

// inverse of desktop-tall
@mixin mobile-short {
    @media (height <= $breakpointh1), (width <= $breakpoint1) {
        @content;
    }
}

// inverse of desktop
@mixin mobile {
    @media (width <= $breakpoint1) {
        @content;
    }
}

@mixin mobile-not-short {
    @media (width <=$breakpoint1) and (height > $breakpointh1) {
        @content;
    }
}

@mixin tablet {
    @media ($breakpoint2 <= width <= $breakpoint1) {
        @content;
    }
}

// inverse of mobile-small
@mixin tablet-desktop {
    @media (width > $breakpoint2) and (height > $breakpointh1) {
        @content;
    }
}

// inverse of mobile-small-tall
@mixin tablet-desktop-tall {
    @media (width > $breakpoint2) {
        @content;
    }
}

// inverse of mobile
@mixin desktop {
    @media (width > $breakpoint1) {
        @content;
    }
}

// inverse of mobile-short
@mixin desktop-tall {
    @media (height > $breakpointh1) and (width > $breakpoint1) {
        @content;
    }
}

$border: solid $line;
$border-white: white $border;
$border-blue: $tertiaryColor $border;
$border-grey: $grey3_5 $border;
$border-transp: $transp-white $border;

$border1: solid $line1;
$border1-blue: $secondaryColor $border1;

$border-radius: 0.15rem;


$cubic-bezier-in: cubic-bezier(1, 0.06, 0.983, 0.165);
$bezier: 120ms $cubic-bezier-in;
$ease: 100ms ease-out;

// the distributive property go burrr
@function transition($properties, $timing: $ease) {
    $transition: null;

    @each $property in $properties {
        $transition: $property $timing, $transition;
    }

    @return $transition;
}

$color-transition: transition((color, background-color, text-decoration-color, border-color));

// if root then underline on hover
// else remove underline on hover
@mixin underline($root: true, $offset: .1em) {
    text-underline-offset: $offset;
    @if ($root) {
        text-decoration: underline $rel-line;
        &:hover, &:focus-visible {
            text-decoration-color: transparent;
        }
    } @else {
        text-decoration-color: transparent;
        &:hover, &:focus-visible {
            text-decoration: underline $rel-line;
        }
    }
}

@mixin centerFillWidth() {
    width: stretch;
    text-align: center;
}

// absolutely center vertically
@mixin absoluteTopCenter() {
    position: absolute;
    top: 50%;
    transform: $translate050;
}

// absolutely center horizontally
@mixin absoluteLeftCenter() {
    position: absolute;
    left: 50%;
    transform: $translate500;
}

// absolutely center vertically and horizontally
@mixin absoluteCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: $translate5050;
}

// get the true dimensions of an element
// $padding: the padding of the element
// $fullDim: the dimensions of the element incl padding
// $width: offset width
@function innerDim($padding: 0rem, $width: 0rem, $fullDim: 100%) {
    @return calc($fullDim - calc($padding * 2) - $width);
}

$max-width: innerDim($fullDim: 100vw, $padding: var(--outer-padding));

// https://stackoverflow.com/questions/12328259/how-do-you-strip-the-unit-from-any-number-in-sass
@function strip-units($number) {
    @return math.div($number, ($number * 0 + 1));
}

// take a relative em number convert it to its corresponding 
// rem value given the font size of the element it belongs to
// $number: the number to convert
// $em the original font size
@function rel-to-abs($number, $em) {
    @return calc(strip-units($number) * $em);
}

@mixin hero-img() {
    .hero-img {
        display: flex;
        align-items: center;
        overflow: clip;
        max-height: max(50vh, 18em);
        img {
            width: 100%;
        }
    }
}

@mixin banner-left-text() {
    .banner.left-text {
        $padding: 3em var(--outer-padding);
        padding: $padding;
        display: flex;
        align-items: center;
        > div {
            background-image: var(--banner-background);
            opacity: var(--overlay);
        }
        section > p {
            border-top: $border-transp;
            border-bottom: $border-transp;
            padding: 1em 0;
        }
        hgroup {
            font-size: 3rem;
            :last-child {
                box-shadow: none;
            }
        }
    }
}

@mixin banner-center-text() {
    .banner.center-text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        > div {
            background-image: var(--banner-background);
            opacity: var(--overlay);
        }
        section {
            width: max-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2em var(--outer-padding);
            > p {
                @include tablet-desktop {
                    margin: auto;
                }
            }
        }
        h1 {
            text-align: center;
        }
        // h2 {
        //     border-top: $border-transp;
        //     border-bottom: $border-transp;
        //     text-align: center;
        //     font-weight: 200;
        // }
        // &.no-img h2{
        //     border-top: $border-transp;
        //     border-bottom: $border-transp;
        // }
    }
}

@mixin side-section($left: true, $sticky: true) {
    // --padding: clamp(1.8em, -24.6em + 44vw, 4em);
    display: flex;
    margin: $max-padding var(--outer-padding);
    gap: var(--padding);
    align-items: center;
    @if ($left) {
        flex-direction: row-reverse;
    }
    @include mobile {
        flex-direction: column;
        // --padding: #{$min-padding};
    }
    article {
        position: relative;
        @include desktop {
            max-width: 55%;
            flex-shrink: 0;
        }
        > div {
            // margin: $max-padding var(--padding);
            max-width: $line-length;
            // max-width: innerDim($width: calc(var(--padding) + var(--outer-padding)));
            // @if ($left) {
            //     margin-left: var(--outer-padding);
            // } @else {
            //     margin-right: var(--outer-padding);
            // }
            section:last-child {
                ul:last-child li:last-child, p:last-child {
                    margin-block-end: 0;
                }
            }
            @include mobile {
                // max-width: innerDim($padding: var(--outer-padding));
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .img {
        width: stretch;  
        display: flex;
        align-items: center;
        position: relative;

        @if ($left) {
            justify-content: flex-start;
        } @else {
            justify-content: flex-end;
        }
        @if ($sticky) { 
            @include desktop-tall {
                max-height: min(innerDim($padding: $max-padding, $fullDim: 100vh), 75vw);
                height: stretch;
                position: sticky;  
                background-size: cover;
                top: $max-padding;
                // margin: $max-padding var(--outer-padding);
                // @if ($left) {
                //     margin-left: 0;
                // } @else {
                //     margin-right: 0;
                // }
            }
            @include mobile-short {
                background-image: none;
            }
        } @else {
            min-height: stretch;
        }
        img {
            max-height: stretch;

            @include desktop-tall {
                position: absolute;
                
                @if ($left) {
                    right: 0;
                } @else {
                    left: 0;
                }
                @if ($sticky) { 
                    display: none;
                }
            }
            @include mobile {
                margin: auto;
                max-width: 90%;
                @if ($sticky) {
                    display: unset;
                }
            }
        }
        @include mobile {
            position: unset;
            height: fit-content;
            padding-top: $max-padding;
            @if ($sticky) {
                background: none;
            }
        }
    }
}