@use "sass:math";

$translate500: translateX(-50%);
$translate050: translateY(-50%);
$translate5050: translate(-50%, -50%);

$secondaryColor: #12488f;
$tertiaryColor: #07254b;

$youtube: rgb(255, 0, 51);
$facebook:#0866FF;

$grey0: #262626;
$grey1: #4e4e4e;
$grey2: #828282;
$grey3: #bbbcbb;
$grey3_5: #dedede;
$grey4: #e5e5e5;
$grey5: #f9f9f9;

$p-size: 1.05em;
$smaller-size: .9em;

$line0: 1px;
$line: 2px;
$line1: 3px;
$rel-line: .06em;
$line-height: 1.4em;
$line-length: 32em;

$breakpoint1: 900px;
$breakpoint2: 700px;

$border: solid $line;
$border-white: white $border;
$border-blue: $tertiaryColor $border;
$border-grey: $grey3_5 $border;
$border-transp:  rgba(255, 255, 255, 0.18) $border;

$border1: solid $line1;
$border1-blue: $secondaryColor $border1;

$border-radius: 0.15rem;

$cubic-bezier-in: cubic-bezier(1, 0.06, 0.983, 0.165);

@mixin underline() {
    text-decoration: underline $rel-line;
    text-underline-offset: .2em;
}

@mixin centerFillWidth() {
    width: -webkit-fill-available;
    text-align: center;
}

// absolutely center vertically
@mixin absoluteTopCenter() {
    position: absolute;
    top: 50%;
    transform: $translate050;
}

// absolutely center horizontally
@mixin absoluteLeftCenter() {
    position: absolute;
    left: 50%;
    transform: $translate500;
}

// absolutely center vertically and horizontally
@mixin absoluteCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: $translate5050;
}

// get the true dimensions of an element
// $padding: the padding of the element
// $fullDim: the dimensions of the element incl padding
// $width: offset width
@function innerDim($padding: 0rem, $width: 0rem, $fullDim: 100%) {
    @return calc($fullDim - calc($padding * 2) - $width);
}

// https://stackoverflow.com/questions/12328259/how-do-you-strip-the-unit-from-any-number-in-sass
@function strip-units($number) {
    @return math.div($number, ($number * 0 + 1));
}

// take a relative em number convert it to its corresponding 
// rem value given the font size of the element it belongs to
// $number: the number to convert
// $em the original font size
@function rel-to-abs($number, $em) {
    @return calc(strip-units($number) * $em);
}

$min-padding: 3%;

@mixin hero-img() {
    .hero-img {
        display: flex;
        align-items: center;
        overflow: clip;
        max-height: max(50vh, 18em);
        img {
            width: 100%;
        }
    }
}

@mixin banner-left-text() {
    .banner.left-text {
        $padding: 3em var(--padding);
        padding: $padding;
        display: flex;
        align-items: center;
        section > p {
            border-top: $border-transp;
            border-bottom: $border-transp;
            padding: 1em 0;
        }
        hgroup {
            font-size: 3rem;
            :last-child {
                border-bottom: none;
            }
        }
    }
}

@mixin banner-center-text() {
    .banner.center-text {
        display: flex;
        align-items: center;
        justify-content: center;
        section {
            width: max-content;
            max-width: innerDim($padding: $min-padding);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2em;
            > p {
                @media (width > $breakpoint2) {
                    margin-inline-start: 2em;
                }
            }
        }
        h2 {
            border-top: $border-transp;
            border-bottom: $border-transp;
            text-align: center;
            font-weight: 200;
        }
        &.no-img h2{
            border-top: $border-transp;
            border-bottom: $border-transp;
        }
    }
}

@mixin side-section($left: true, $sticky: true) {
    --padding: clamp(1.8em, -24.6em + 44vw, 4em);
    display: flex;
    @if ($left) {
        flex-direction: row-reverse;
    }
    @media (width <= $breakpoint1) {
        flex-direction: column;
        --padding: #{$min-padding};
    }
    p:last-of-type {
        margin-block-end: 2em;
    }
    article {
        position: relative;
        @media (width > $breakpoint1) {
            max-width: 55%;
        }
        > div {
            margin: 4em var(--padding);
            width: $line-length;
            max-width: innerDim($padding: var(--padding));
            @media (width <= $breakpoint1) {
                max-width: calc(100% - var(--padding) * 2 - 0rem);
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .img, nav {
        width: stretch;  
        @if ($sticky) { 
            @media (width > $breakpoint1) {
                height: innerDim($padding: 4em, $fullDim: 100vh);
                position: sticky;  
                background-size: cover;
                top: 4em;
                margin: 4em var(--padding);
                margin-right: 0;
            }
        }
    }
    nav {
        margin: 4em var(--padding);
        width: $line-length;
        max-width: innerDim($padding: var(--padding));
        @media (width <= $breakpoint1) {
            max-width: calc(100% - var(--padding) * 2 - 0rem);
            margin-left: auto;
            margin-right: auto;
        }
    }
    .img {  
        display: flex;
        align-items: center;
        justify-content: center;
        @if ($sticky) {      
            img {
                display: none;
            }
        } @else {
            min-height: stretch;
        }
        img {
            width: 90%;
        }
        @media (width <= $breakpoint1) {
            position: unset;
            height: fit-content;
            padding-top: 4em;
            @if ($sticky) {
                background: none;
                img {
                    display: unset;
                }
            }
        }
    }
}