// to compile: 
//      sass --watch sass:css
//      automatically compiles anything in "sass" folder to "css" folder as changes are made

//      sass <input.scss> [output.css]
//      compile input.scss to output.css once

//      sass sass:css
//      compiles anything in "sass" folder to "css" folder

@use "sass:math";
@use "fonts";
@use "global";
@use "../fonts/source-sans-release/source-sans-3VF.css";
@use "../fonts/source-sans-release/source-sans-3.css";

:root{
    font-size: clamp(16px, 10px + 1vw, 20px);
    --padding: clamp(1.8rem, -24.6rem + 44vw, #{global.$max-padding});
    --outer-padding: max(var(--padding), calc(#{global.$left-pad} - #{global.$line-length} - var(--padding)));
    --shadow-color: oklch(0% 0 0);

    @include global.mobile-small {
        font-size: clamp(16px, 10px + 2vw, 22px);
    }
    @include global.mobile {
        --padding: #{global.$min-padding};
    }
}

body {
    @include fonts.libertinus();
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: global.$tertiaryColor;
    color: white;
    ::selection {
        background-color: global.$highlightColor;
        color: black;
    }
    ::-webkit-selection {
        background-color: global.$highlightColor;
        color: black;
    }
}

h1, h2, h3, h4, h5, p, ol, ul, li, a, button, small, menu, address, figure, figcaption {
    @extend %text-styles !optional;
}

%text-styles {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    line-height: var(--line-height);;
    font-family: unset;
    overflow-wrap: break-word;
}

// clear weird default stylings
button, dialog {
    margin: 0;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    max-width: unset;
    max-height: unset;
    width: unset;
    height: unset;
}

h1, h2, h3, h4, h5, h6 {
    @extend %headings !optional;
}

%headings {
    @include fonts.redhat();
    text-wrap-style: balance;
}

h2 {
    font-size: 1.3em;
    margin-block-end: .2em;
}

a {
    font: inherit;
    transition: global.$color-transition;
}

p {
    margin-block-end: .5em;
}

p:last-child {
    margin-block-end: 0;
}

ul {
    list-style: none;
}

.highlight {
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.email {
    @include global.underline();
    font-weight: unset;
    cursor: pointer;
    transition: global.$color-transition;
}

.button {
    font-size: 1.2em;
    padding: 0.3em 0.8em;
    display: block;
    width: fit-content;
    border-radius: global.$border-radius;
    color: white;
}

.primary-button {
    background-color: global.$secondaryColor;
    transition: background-color global.$ease;
    &:hover, &:focus-visible {
        background-color: global.$tertiaryColor;
    }
}

img, video, iframe, svg {
    display: block;
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    top: auto;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    white-space: nowrap;
    text-decoration: none;
}

.focus-hidden {
    position: fixed;
    left: -300em;
    top: .5em;
    z-index: 3;
    background-color: global.$secondaryColor;
    max-width: global.innerDim($padding: .5em + .8em, $fullDim: 100vw);
}

.focus-hidden:focus {
    left: .5em;
}

.mobile {
    @media ((width > global.$breakpoint2) and (height > global.$breakpointh1)) {
        display: none;
    }
    @media (hover: none) {
        display: block;
    }
}

.opened {
    overflow: clip;
    main {
        margin-top: calc(global.rel-to-abs(3em, 1.3em) + global.$line);
    }
}

#everything > dialog {
    background-color: global.$tertiaryColor;
    $padding: .6em;
    padding: 0 var(--outer-padding);
    padding-right: 0;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    height: fit-content;
    box-shadow: global.$shadow-elevation-medium;
    @include global.mobile-not-short {
        position: sticky;
    }
    @include global.mobile-small {
        top: 0;
        width: 100vw;
        font-size: 1.3rem;
        padding: 0;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        &[open] {
            position: fixed;
            // I am not hamburger I yam xxx
            .l-top {
                transform: global.$translate050;
            }

            .l-bottom {
                transform: translateY(50%);
            }

            .x {
                &-1 {
                    transform: rotate(45deg);
                }
                &-2 {
                    transform: rotate(-45deg);
                }
            }
            &::backdrop {
                background-color: global.$transp-black;
            }
            .hamburger-nav {
                border-bottom: global.$border-white;
            }
        }
        &:not([open]) {
            border-bottom: global.$border-white;
            nav > ul {
                display: none;
            }
        }
    }
    > nav {
        background-color: global.$tertiaryColor;
    }
    img {
        height: 2em;
    }
    // outer
    nav > ul {
        @include global.tablet-desktop {
            display: flex;
        }
        h2 {
            margin: 0;
            font-size: inherit;
        }
        > li:first-child > a {
            @include global.mobile-small {
                border-top: none;
            }
        }
        > li:last-child > a {
            @include global.mobile-small {
                border-bottom: global.$border-white;
            }
        }
        > li > a {
            height: 2em + $padding * 2;
            padding: 0 .75em;
            display: flex;
            align-items: center;
            @include global.tablet-desktop {
                @include global.underline(false, .2em);
            }
            @include global.mobile-small {
                height: 2.7em;
                padding: 0 var(--padding);
                border-top: global.$border-white;
                display: flex;
                justify-content: space-between;
                &:hover, &:focus-visible {
                    background-color: white;
                    color: global.$tertiaryColor;
                }
            }
            svg {
                display: none;
                @include global.mobile-small {
                    display: unset;
                    width: .7em;
                    transition: transform global.$ease;
                    transform-origin: center;
                }
            }
        }
        // inner nav
        ul {
            @include global.mobile-small {
                display: none;
            }
            background-color: white;
            @include global.tablet-desktop {   
                box-shadow: global.$shadow-elevation-medium;
                position: absolute;
                z-index: 1;
                top: 100%;
                visibility: hidden;
                opacity: 0;
                transition: opacity global.$ease;
            }
            li {
                @include global.tablet-desktop {
                    padding: global.$line;
                    padding-bottom: 0;
                    &:last-of-type {
                        padding-bottom: global.$line;
                    }
                }
                a {
                    display: block;
                    padding: math.div($padding, 2) $padding;
                    @include global.tablet-desktop {
                        background-color: white;
                        color: global.$tertiaryColor;
                        &:hover, &:focus-visible {
                            background-color: global.$tertiaryColor;
                            color: white;
                        }
                    }
                    @include global.mobile-small {
                        padding-left: 1.4em;
                        &:hover, &:focus-visible {
                            background-color: white;
                            color: global.$tertiaryColor;
                        }
                    }
                }
            }
            h3 {
                font-size: .8em;
            }
        }
        > li:hover, > li:focus-within {
            ul {
                @include global.tablet-desktop {   
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        .open {
            > a {
                border-bottom: global.$border-white;
                &:hover, &:focus-visible {
                    border-bottom: global.$border-blue;
                }
                svg {
                    transform: rotate(180deg);
                }
            }
            ul {
                @include global.mobile-small {
                    display: unset;
                }
            }
        }
    }
    .hamburger-nav {
        @include global.mobile-small {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: var(--padding);
        }
        button {
            cursor: pointer;
            display: none;
            svg {
                height: 100%;
                path {
                    transition: transform global.$ease;
                    transform-origin: center;
                }
            }
            @include global.mobile-small {
                display: unset;
                height: 1em;
                padding: 1em var(--padding);
                box-sizing: content-box;
            }
        }
    }
    #main-nav {
        @include global.mobile-small {
            max-height: calc(100vh - (3em + global.$line));
            overflow: scroll;
        }
    }
}

#everything > footer {
    position: sticky;
    width: stretch;
    font-size: 1rem;
    padding: 0 var(--outer-padding);
    bottom: 0;
    @include global.mobile {
        padding: 0 2.5%;
        font-size: .9rem;
    }
    @include global.mobile-small {
        position: unset;
    }
}

.footer-top {
    font-size: inherit;
    position: relative;
    height: 12.4rem;
    @include global.mobile-small {
        display: flex;
        flex-direction: column;
        gap: 2.5em;
        align-items: center;
        height: unset;
        padding: 1.7em 0;
    }
    > * {
        max-width: global.$max-width;
    }
    .h3 {
        font-weight: 600;
        @include fonts.redhat();
    }
    > div, .logo {
        @include global.tablet-desktop {   
            position: absolute;
            top: 50%;
            transform: global.$translate050;
        }
    }
    .logo {
        @include global.mobile-small {
            padding: 1em 0;
        }
        img {
            object-fit: contain;
            height: 3.5em;
            @include global.mobile-small {
                height: 5em;
            }
        }
    }
    address {
        margin: auto;
        text-align: center;
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        > * {
            margin-block-end: .5em;
        }
    }
    .socials {
        right: 0;
        display: flex;
        gap: 1.2em;
        justify-content: center;
        align-items: center;
        a {
            display: block;
            color: white;
        }
        .svg-secondary {
            color: global.$tertiaryColor;
        }
        .facebook svg {
            height: 50px;
            width: auto;
        }
        .youtube svg {
            height: 35px;
            width: auto;
        }
        .facebook {
            &:hover,&:focus-visible {
                color: global.$facebook;
            }
        }
        .youtube {
            &:hover,&:focus-visible {
                color: global.$youtube;
            }
        }
    }
}

.footer-bottom {
    font-size: smaller;
    border-top: global.$border-transp;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    text-align: center;
    small {
        font-size: inherit;
    }
}

main {
    background-color: white;
    color: black;
    z-index: 1;
    position: relative;
    // margin-bottom: calc(12.4rem + (global.rel-to-abs(1.4em, math.div(5rem, 6))) + 1rem + .8rem + global.$line);
    %text-styles {
        max-width: min(global.$line-length, 100%);
    }

    @include global.mobile-small {
        margin-bottom: 0;
    }
    @include global.tablet-desktop {
        --shadow-color: oklch(0.1804 0.0548 252.52);
        box-shadow: global.$shadow-elevation-medium;
    }
    .link {
        color: global.$secondaryColor;
        &:hover, &:focus-visible {
            color: global.$tertiaryColor;
        }
        @include global.underline(false);
    }
    h1 {
        font-size: 3em;
        margin-block-end: .2em;
    }
    p, li {
        font-size: global.$p-size;
    }
    p, li, figcaption {
        text-wrap-style: pretty;
    }
    p {
        margin-block-end: 1em;
    }
    h2 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 1.5em;
        margin-block-end: .2em;
    }
    sup {
        font-size: .6em;
        line-height: 0;
    }
    small {
        font-size: inherit;
    }
    hgroup {
        font-size: 2.5rem;
        @include fonts.redhat();        
        :first-child {
            font-size: inherit;
        }
        :last-child {
            $padding: .3em;
            font-style: italic;
            font-weight: 300;
            padding-bottom: calc($padding + global.$line);
            width: fit-content;
            font-size: .42em;
            overflow: hidden;
            margin-block-end: 2em;
            @at-root main article hgroup :last-child:after {
                content: '';
                display: inline-block;
                vertical-align: bottom;
                box-shadow: -100em calc(100em + $padding) 0 100em;
                color: global.$tertiaryColor;
            }
        }
    }
    article section {
        li {
            border-left: global.$border1-blue;
            padding: .3em 0 .3em .7em;
            margin-block-end: .4em;
            p {
                &:last-of-type {
                    margin-block-end: 0;
                }
                margin-left: 0;
            }
        }
        > p:last-child, li:last-child {
            margin-block-end: 2em;
        }
    }
    .banner {
        padding-top: 2em;
        padding-bottom: 2em;
        position: relative;
        section {
            position: relative;
            max-width: global.$max-width;
        }
        &:first-of-type {
            height: global.innerDim($width: calc((global.rel-to-abs(3.2em, 1.5rem))), $fullDim: 100vh, $padding: 2em);
            min-height: fit-content;
        }
        &:not(.no-img) {
            color: white;
            background-size: cover;
            overflow: clip;
            background-color: black;
            
            view-timeline: --tracked-elem;

            .img {
                --scroll-amount: 8vh;
                --overlay: 0.204;
                --background-position: 50%;

                background-size: cover;
                width: 100%;
                height: calc(100% + var(--scroll-amount) * 2);
                left: 0;
                background-position-x: center;
                background-position-y: var(--background-position);

                @include global.absoluteTopCenter();
                
                @supports (animation-timeline: view()) {
                    @media (prefers-reduced-motion: no-preference) {
                        @keyframes position {
                            0% {
                                background-position-y: calc(var(--background-position) + var(--scroll-amount));
                            }
                            100% {
                                background-position-y: calc(var(--background-position) - var(--scroll-amount));
                            }
                        }
                        @keyframes opacity {
                            100% {
                                opacity: 1;
                            }
                        }
                        animation: position linear, opacity linear reverse, opacity linear;
                        animation-timeline: --tracked-elem;
                        animation-range: scroll, entry contain 0%, exit;
                    }
                }
            }
            section {
                @supports (animation-timeline: view()) {
                    @media (prefers-reduced-motion: no-preference) {
                        --scroll-amount: 15vh;
                        @keyframes position-2 {
                            0% {
                                transform: translateY(var(--scroll-amount));
                            }
                            100% {
                                transform: translateY(calc(-1 * var(--scroll-amount)));
                            }
                        }
                        animation: position-2 linear;
                        animation-timeline: --tracked-elem;
                        animation-range: cover;

                        // so it doesn't look funny because it doesn't scroll to halfway through viewport
                        @at-root main .banner:not(.no-img):last-child section {
                            @keyframes position-3 {
                                0% {
                                    transform: translateY(var(--scroll-amount));
                                }
                                100% {
                                    transform: translateY(0);
                                }
                            }
                            animation: position-3 linear;
                        }
                    }
                }
            }
        }
        &.no-img {
            color: black;
            background: none;
        }
    }
}