// to compile: 
//      sass --watch sass:css
//      automatically compiles anything in "sass" folder to "css" folder as changes are made

//      sass <input.scss> [output.css]
//      compile input.scss to output.css once

//      sass sass:css
//      compiles anything in "sass" folder to "css" folder

@use "sass:math";
@use "fonts";
@use "global";
@use "../fonts/source-sans-release/source-sans-3VF.css";
@use "../fonts/source-sans-release/source-sans-3.css";

:root{
    font-size: clamp(16px, 10px + 1vw, 20px);
    --padding: clamp(1.8em, -24.6em + 44vw, #{global.$max-padding});
    @media (width <= global.$breakpoint2) {
        font-size: clamp(16px, 10px + 2vw, 22px);
    }
    @media (width <= global.$breakpoint1) {
        --padding: #{global.$min-padding};
    }
}

body {
    @include fonts.libertinus();
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: global.$tertiaryColor;
    color: white;
}

h1, h2, h3, h4, h5, p, ol, ul, li, a, button, small, menu, address, figure, figcaption {
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    max-width: global.$line-length;
    line-height: global.$line-height;
    font-family: unset;
}

// clear weird default stylings
button, dialog {
    margin: 0;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    max-width: unset;
    max-height: unset;
    width: unset;
    height: unset;
}

h1, h2, h3, h4, h5, h6 {
    @extend %headings !optional;
}

%headings {
    font-family: fonts.$redhat;
    text-wrap-style: balance;
}

h2 {
    font-size: 1.3em;
    margin-block-end: .2em;
}

a {
    font-size: inherit;
    &:hover, &:focus {
        @include global.underline();
    }
}

p {
    margin-block-end: .5em;
}

p:last-child {
    margin-block-end: 0;
}

ul {
    list-style: none;
}

.email {
    @include global.underline();
    font-weight: unset;
    cursor: pointer;
}

.email:hover, .email:focus {
    text-decoration: none;
}

img, video, iframe, svg {
    // margin: auto;
    // padding: auto;
    // max-width: 100%;
    display: block;
    // padding-top: 1em;
    // padding-bottom: 1em;
}

.visually-hidden {
    position: absolute;
    top: auto;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    white-space: nowrap;
    text-decoration: none;
}

.mobile {
    display: none;
    @media (width <= global.$breakpoint2) {
        display: unset;
    }
}

#everything > dialog {
    background-color: global.$tertiaryColor;
    $padding: .6em;
    padding: 0 0.7em;
    padding-right: 0;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    height: fit-content;
    @media (width <= global.$breakpoint2) {
        position: sticky;
        top: 0;
        width: 100vw;
        font-size: 1.3rem;
        padding: 0;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        &[open] {
            position: fixed;
            // I am not hamburger I yam xxx

            .l-top {
                transform: global.$translate050;
            }

            .l-bottom {
                transform: translateY(50%);
            }

            .x {
                &-1 {
                    transform: rotate(45deg);
                }
                &-2 {
                    transform: rotate(-45deg);
                }
            }
            &::backdrop {
                background-color: global.$transp-black;
            }
        }
        &:not([open]) {
            border-bottom: global.$border-white;
            nav > ul {
                display: none;
            }
        }
    }
    > nav {
        background-color: global.$tertiaryColor;
    }
    img {
        height: 2em;
    }
    // outer
    nav > ul {
        @media (width > global.$breakpoint2) {
            display: flex;
        }
        h2 {
            margin: 0;
            font-size: inherit;
        }
        > li:last-child > a {
            @media (width <= global.$breakpoint2) {
                border-bottom: global.$border-white;
            }
        }
        > li > a {
            height: 2em + $padding * 2;
            padding: 0 .75em;
            display: flex;
            align-items: center;
            @media (width <= global.$breakpoint2) {
                height: 2.7em;
                padding: 0 var(--padding);
                border-top: global.$border-white;
                display: flex;
                justify-content: space-between;
                &:hover, &:focus {
                    background-color: white;
                    color: global.$tertiaryColor;
                    text-decoration: none;
                }
            }
            svg {
                display: none;
                @media (width <= global.$breakpoint2) {
                    display: unset;
                    width: .7em;
                    transition: transform 100ms ease-out;
                    transform-origin: center;
                }
            }
        }
        // inner nav
        ul {
            display: none;
            background-color: global.$tertiaryColor;
            @media (width > global.$breakpoint2) {   
                position: absolute;
                z-index: 1;
                top: 100%;
            }
            li {
                @media (width > global.$breakpoint2) {
                    border: global.$border-white;
                    border-bottom: none;
                    &:last-of-type {
                        border-bottom: global.$border-white;
                    }
                }
                a {
                    text-decoration: none;
                    display: block;
                    padding: math.div($padding, 2) $padding;
                    @media (width > global.$breakpoint2) {
                        background-color: white;
                        color: global.$tertiaryColor;
                        &:hover, &:focus {
                            background-color: global.$tertiaryColor;
                            color: white;
                        }
                    }
                    @media (width <= global.$breakpoint2) {
                        padding-left: 2em;
                        &:hover, &:focus {
                            background-color: white;
                            color: global.$tertiaryColor;
                        }
                    }
                }
            }
            h3 {
                font-size: .8em;
            }
        }
        > li:hover, > li:focus-within {
            ul {
                @media (width > global.$breakpoint2) {
                    display: unset;
                }
            }
        }
        .open {
            > a {
                border-bottom: global.$border-white;
                &:hover, &:focus {
                    border-bottom: global.$border-blue;
                }
                svg {
                    transform: rotate(180deg);
                }
            }
            ul {
                display: unset;
            }
        }
    }
    .hamburger-nav {
        @media (width <= global.$breakpoint2) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: var(--padding);
        }
        button {
            cursor: pointer;
            display: none;
            svg {
                height: 100%;
                path {
                    transition: transform 100ms ease-out;
                    transform-origin: center;
                }
            }
            @media (width <= global.$breakpoint2) {
                display: unset;
                height: 1em;
                padding: 1em var(--padding);
                box-sizing: content-box;
            }
        }
    }
}

#everything > footer {
    position: sticky;
    width: stretch;
    font-size: 1rem;
    padding: 0 5%;
    bottom: 0;
    @media (width <= global.$breakpoint1) {
        padding: 0 2.5%;
        font-size: .9rem;
    }
    @media (width <= global.$breakpoint2), (height < 350px) {
        position: unset;
    }
}

.footer-top {
    font-size: inherit;
    position: relative;
    height: 12.4rem;
    %headings {
        font-weight: 600;
    }
    @media (width <= global.$breakpoint2) {
        display: flex;
        flex-direction: column;
        gap: 2.5em;
        align-items: center;
        height: unset;
        padding: 1.7em 0;
    }
    > div, .logo {
        @media (width > global.$breakpoint2) {   
            position: absolute;
            top: 50%;
            transform: global.$translate050;
        }
    }
    .logo {
        @media (width <= global.$breakpoint2) {
            padding: 1em 0;
        }
        img {
            height: 3.5em;
            @media (width <= global.$breakpoint2) {
                height: 5em;
            }
        }
    }
    address {
        margin: auto;
        text-align: center;
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        > * {
            margin-block-end: .5em;
        }
    }
    .socials {
        right: 0;
        display: flex;
        gap: 1.2em;
        justify-content: center;
        align-items: center;
        a {
            display: block;
            color: white;
        }
        .svg-secondary {
            color: global.$tertiaryColor;
        }
        .facebook svg {
            height: 50px;
            width: auto;
        }
        .youtube svg {
            height: 35px;
            width: auto;
        }
        .facebook {
            &:hover,&:focus {
                color: global.$facebook;
            }
        }
        .youtube {
            &:hover,&:focus {
                color: global.$youtube;
            }
        }
    }
}

.footer-bottom {
    font-size: smaller;
    border-top: global.$border-transp;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    text-align: center;
    small {
        font-size: inherit;
    }
}

main {
    --padding: clamp(1.8em, -24.6em + 44vw, #{global.$max-padding});
    background-color: white;
    color: black;
    z-index: 1;
    position: relative;
    // margin-bottom: calc(12.4rem + (global.rel-to-abs(1.4em, math.div(5rem, 6))) + 1rem + .8rem + global.$line);
    @media (width <= global.$breakpoint1) {
        --padding: #{global.$min-padding};
        // margin-bottom: calc(12.4rem + (global.rel-to-abs(1.4em, math.div(.9 * 5rem, 6))) + 1rem + .8rem + global.$line * 2);
    }
    @media (width <= global.$breakpoint2), (height < 350px) {
        margin-bottom: 0;
    }
    li {
        border-left: global.$border1-blue;
        padding: .3em 0 .3em .7em;
        margin-block-end: .4em;
        p {
            &:last-of-type {
                margin-block-end: 0;
            }
            margin-left: 0;
        }
    }
    h1 {
        font-size: 3em;
        margin-block-end: .2em;
    }
    p, li {
        font-size: global.$p-size;
    }
    p {
        margin-block-end: 1em;
    }
    h2 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 1.5em;
        margin-block-end: .2em;
    }
    sup {
        font-size: .6em;
        line-height: 0;
    }
    small {
        font-size: inherit;
    }
    hgroup {
        font-size: 2.5rem;
        font-family: fonts.$redhat;
        :first-child {
            font-size: inherit;
        }
        :last-child {
            font-style: italic;
            font-weight: 300;
            padding-bottom: .3em;
            width: fit-content;
            font-size: .42em;
            border-bottom: global.$border-blue;
            margin-block-end: 2em;
        }
    }
    .banner {
        color: white;
        background-size: cover;
        padding-top: 2em;
        padding-bottom: 2em;
        position: relative;
        &:first-of-type {
            height: global.innerDim($padding: 2em, $fullDim: 100vh);
            // height: global.innerDim($width: calc((global.rel-to-abs(2em + .6em * 2, 1.5rem) + global.$line) + 15vh), $fullDim: 100vh, $padding:2em);
            min-height: fit-content;
        }
        &.no-img {
            color: black;
            background: none;
        }
    }
    .button, button {
    background-color: global.$secondaryColor;
    border-radius: global.$border-radius;
    font-size: 1.2em;
    padding: 0.3em 0.8em;
    text-decoration: none;
    display: block;
    color: white;
    width: fit-content;
        &:hover, &:focus {
            background-color: global.$tertiaryColor;
            text-decoration: none;
        }
    }
}