@use "sass:math";
@use "fonts";
@use "global";


main {
    .banner.left-text {
        // background-image: linear-gradient(0deg, #00000070, #00000070), url("../images/group\ of\ people\ on\ boat\ off\ the\ coast\ of\ miloliʻi.jpg");
        font-size: 1.5rem;
        height: unset;
        background-attachment: fixed;
    }
    
    .banner.center-text {
        background-image: linear-gradient(0deg, #ffffff96, #ffffff96), url("../images/two\ kids\ fishing.jpg");
        background-position-x: right;
        color: black;
        font-size: 1.8rem;
        height: global.innerDim($fullDim: 80vh, $padding: 2em);
    }

    @include global.hero-img();
    @include global.banner-left-text();
    @include global.banner-center-text();
}