@use "sass:math";
@use "global";


main {
    .banner.no-img {
        background-color: global.$grey5;
    }

    .banner.left-text {
        hgroup {
            font-size: global.$h2-size;
        }
    }
    
    .banner.center-text:first-of-type {
        .img {
            --banner-background: url("../images/canoes\ off\ of\ miloliʻi\ coast.jpg");
            --background-position: 0%;
        }
        // height: global.innerDim($fullDim: 100vh, $padding: 2em, $width: rel-to-abs(1.5em));
        font-size: 1.5em;
        h1 {
            font-size: global.$h1-size;
            margin-block-end: .8em;
        }
        p {
            margin-block-end: 1em;
        }
        .button {
            font-size: inherit;
        }
    }

    .banner.center-text:nth-of-type(2) {
        section {
            padding-bottom: 0;
        }
    }

    .more-pages {
        width: stretch;
        margin: 4em 0;
        ul {
            max-width: unset;
            font-size: 1em;
            display: grid;
            grid-template-columns: repeat(auto-fit, min(19em, global.innerDim($fullDim: 100vw, $padding: var(--outer-padding))));
            gap: 2em;
            padding: 0 var(--outer-padding);
            align-items: baseline;
            justify-content: center;
            a {
                background-color: white;
                color: black;
                box-shadow: global.$shadow-elevation-low;
                border-bottom: 1em solid global.$tertiaryColor;
                transition: global.$color-transition;
                
                &:focus-visible, &:hover {
                    color: global.$secondaryColor;
                    border-color: global.$secondaryColor;
                    img {
                        transform: scale(110%);
                    }
                }
                * {
                    transition: global.$color-transition;
                }
                div:first-of-type {
                    overflow: hidden;
                    img {
                        height: 12em;
                        width: 100%;
                        object-fit: cover;
                        overflow: hidden;
                        transition: transform 250ms ease-in;
                    }
                }
                div:nth-of-type(2) {
                    padding: 1em;
                    h3 {
                        font-weight: 600;
                        margin-block-end: .5em;
                    }
                    li {
                        font-size: 1em;
                    }
                }
            }
        }
    }

    .partners {
        ul {
            max-width: unset;
            font-size: 1em;
            display: grid;
            grid-template-columns: repeat(auto-fit, min(7em, global.innerDim($fullDim: 100vw, $padding: var(--outer-padding))));
            gap: 2em;
            align-items: baseline;
            justify-content: center;
        }
    }

    @include global.hero-img();
    @include global.banner-left-text();
    @include global.banner-center-text();
}